In [1]:
from datetime import datetime,date
from dateutil import tz, parser
from src.module.hotels import Hotels

In [2]:
Lakewood = Hotels(name='Lakewood',classification=3,regular_weekday=110,regular_weekend=90,rewards_weekday=80,rewards_weekend=80)
Bridgewood = Hotels(name='Bridgewood',classification=4,regular_weekday=160,regular_weekend=60,rewards_weekday=110,rewards_weekend=50)
Ridgewood = Hotels(name='Ridgewood',classification=5,regular_weekday=220,regular_weekend=150,rewards_weekday=100,rewards_weekend=40)

In [3]:
hotels = [Lakewood,Bridgewood,Ridgewood]

In [4]:
response = "Regular: 16Mar2009(mon), 17Mar2009(tues), 18Mar2009(wed)"

In [5]:
[client, days_without_editing] =  response.split(':')

In [6]:
days_without_editing

' 16Mar2009(mon), 17Mar2009(tues), 18Mar2009(wed)'

In [7]:
days = days_without_editing.split(',')

In [8]:
days

[' 16Mar2009(mon)', ' 17Mar2009(tues)', ' 18Mar2009(wed)']

In [9]:
formated_days = []

In [10]:
for day in days:
    date_formated = date(int(day[6:10]),datetime.strptime(day[3:6], "%b").month,int(day[1:3]))
    formated_days.append(date_formated)

In [11]:
hotel_values = []

In [12]:
for hotel in hotels:
    value = 0 
    for day in formated_days:
        if day.isoweekday() <= 5:
            value+=hotel.get_weekday(client)
        else:
            value+=hotel.get_weekend(client)
    hotel_values.append({'name': hotel.name, 'classification': hotel.classification,'value': value})

In [13]:
hotel_values

[{'name': 'Lakewood', 'classification': 3, 'value': 330},
 {'name': 'Bridgewood', 'classification': 4, 'value': 480},
 {'name': 'Ridgewood', 'classification': 5, 'value': 660}]

In [20]:
def get_lower_value(hotels_value: list):
    result = []
    lower_value=0
    for hotel in hotels_value:
        if lower_value == 0:
            lower_value=hotel['value']
            result.append(hotel)
        elif hotel['value'] < lower_value:
            lower_value=hotel['value']
            result = []
            result.append(hotel)
        elif lower_value == hotel['value']:
            result.append(hotel)
    return max(result, key=lambda x: x['classification'])['name']

In [21]:
get_lower_value(hotel_values)

[{'name': 'Lakewood', 'classification': 3, 'value': 330}]

'Lakewood'